<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-thestudnet-plugins-twiccordovaplugin" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>TWICCordovaPlugin</name>

    <js-module name="TWICCordovaPlugin" src="www/TWICCordovaPlugin.js">
        <clobbers target="twiccordovaplugin"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TWICCordovaPlugin">
                <param name="android-package" value="com.thestudnet.plugin.TWICCordovaPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/thestudnet/plugin/TWICCordovaPlugin.java"
                     target-dir="src/com/thestudnet/plugin"/>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />
        <resource-file src="androidaar/TWICAndroidPlugin.aar" target="libs/TWICAndroidPlugin.aar" />

        <hook type="after_plugin_install" src="scripts/androidAfterInstall.js" />
    </platform>

    <platform name="ios">
      <!--config.xml-->
        <config-file target="config.xml" parent="/*">
            <feature name="TWICCordovaPlugin">
                <param name="ios-package" value="TWICCordovaPlugin" />
            </feature>
        </config-file>
        <!--info.plist-->
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>Studnet needs access to the microphone to stream your audio</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>Studnet needs access to the camera to stream your video</string>
        </config-file>
        <!--source and header files-->
        <header-file src="src/ios/TWICConstants.h" />
        <header-file src="src/ios/TWICCordovaPlugin.h" />
        <source-file src="src/ios/TWICCordovaPlugin.m" />
        <header-file src="src/ios/TWICFirebaseClient.h" />
        <source-file src="src/ios/TWICFirebaseClient.m" />
        <header-file src="src/ios/TWICSocketIOClient.h" />
        <source-file src="src/ios/TWICSocketIOClient.m" />
        <header-file src="src/ios/TWICMainViewController.h" />
        <source-file src="src/ios/TWICMainViewController.m" />
        <header-file src="src/ios/TWICStreamViewController.h" />
        <source-file src="src/ios/TWICStreamViewController.m" />
        <header-file src="src/ios/TWICStreamGridViewController.h" />
        <source-file src="src/ios/TWICStreamGridViewController.m" />
        <header-file src="src/ios/TWICStreamCollectionViewCell.h" />
        <source-file src="src/ios/TWICStreamCollectionViewCell.m" />
        <header-file src="src/ios/TWICMenuViewController.h" />
        <source-file src="src/ios/TWICMenuViewController.m" />
        <header-file src="src/ios/TWICMenuActionTableViewCell.h" />
        <source-file src="src/ios/TWICMenuActionTableViewCell.m" />
        <header-file src="src/ios/TWICMenuAccordionHeaderView.h" />
        <source-file src="src/ios/TWICMenuAccordionHeaderView.m" />
        <!--resources files-->
        <resource-file src="src/ios/TWICCordovaPlugin.storyboard" />
        <resource-file src="src/ios/TWICMenuAccordionHeaderView.xib" />
        <resource-file src='src/ios/en.lproj/Localizable.strings'/>
        <resource-file src='src/ios/fr.lproj/Localizable.strings'/>
        <!--media files-->
        <source-file src="src/ios/TWICMedia.xcassets/camera.imageset/camera.png" />
        <source-file src="src/ios/TWICMedia.xcassets/camera.imageset/camera@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/camera.imageset/camera@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/chat.imageset/chat.png" />
        <source-file src="src/ios/TWICMedia.xcassets/chat.imageset/chat@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/chat.imageset/chat@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/disconnect.imageset/disconnect.png" />
        <source-file src="src/ios/TWICMedia.xcassets/disconnect.imageset/disconnect@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/disconnect.imageset/disconnect@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/microphone.imageset/microphone.png" />
        <source-file src="src/ios/TWICMedia.xcassets/microphone.imageset/microphone@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/microphone.imageset/microphone@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/record.imageset/record.png" />
        <source-file src="src/ios/TWICMedia.xcassets/record.imageset/record@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/record.imageset/record@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/rotate.imageset/rotate.png" />
        <source-file src="src/ios/TWICMedia.xcassets/rotate.imageset/rotate@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/rotate.imageset/rotate@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/screen.imageset/screen.png" />
        <source-file src="src/ios/TWICMedia.xcassets/screen.imageset/screen@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/screen.imageset/screen@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/send.imageset/send.png" />
        <source-file src="src/ios/TWICMedia.xcassets/send.imageset/send@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/send.imageset/send@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/stop.imageset/stop.png" />
        <source-file src="src/ios/TWICMedia.xcassets/stop.imageset/stop@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/stop.imageset/stop@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/user.imageset/user.png" />
        <source-file src="src/ios/TWICMedia.xcassets/user.imageset/user@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/user.imageset/user@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/cross.imageset/cross.png" />
        <source-file src="src/ios/TWICMedia.xcassets/cross.imageset/cross@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/cross.imageset/cross@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/up-arrow.imageset/up-arrow.png" />
        <source-file src="src/ios/TWICMedia.xcassets/up-arrow.imageset/up-arrow@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/up-arrow.imageset/up-arrow@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/down-arrow.imageset/down-arrow.png" />
        <source-file src="src/ios/TWICMedia.xcassets/down-arrow.imageset/down-arrow@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/down-arrow.imageset/down-arrow@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/microphone-green.imageset/microphone-green.png" />
        <source-file src="src/ios/TWICMedia.xcassets/microphone-green.imageset/microphone-green@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/microphone-green.imageset/microphone-green@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/screen-green.imageset/screen-green.png" />
        <source-file src="src/ios/TWICMedia.xcassets/screen-green.imageset/screen-green@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/screen-green.imageset/screen-green@3x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/speaking.imageset/speaking.png" />
        <source-file src="src/ios/TWICMedia.xcassets/speaking.imageset/speaking@2x.png" />
        <source-file src="src/ios/TWICMedia.xcassets/speaking.imageset/speaking@3x.png" />
        <!-- Cocoapods -->
        <pods-config ios-min-version="9.0" use-frameworks="true"/>
        <pod id="Firebase/Database" version="~> 3.1" />
        <pod id="SVProgressHUD" />
        <pod id="OpenTok" version="~> 2.10"/>
        <pod id="GONMacros" />
        <pod id="GONCategories" />
        <pod id="GONMarkupParser" />
        <pod id="NSString+Color" />
        <pod id="Socket.IO-Client-Swift" version="~> 8.3.0" />
        <pod id="FZAccordionTableView" />
        <pod id="AFNetworking" version="~> 3.1" />
        <pod id="Masonry" version="~> 1.0" />
    </platform>
</plugin>
