<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-thestudnet-plugins-twiccordovaplugin" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>TWICCordovaPlugin</name>

    <js-module name="TWICCordovaPlugin" src="www/TWICCordovaPlugin.js">
        <clobbers target="twiccordovaplugin"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TWICCordovaPlugin">
                <param name="android-package" value="com.thestudnet.plugin.TWICCordovaPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/thestudnet/plugin/TWICCordovaPlugin.java"
                     target-dir="src/com/thestudnet/plugin"/>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />
        <resource-file src="androidaar/TWICAndroidPlugin.aar" target="libs/TWICAndroidPlugin.aar" />

        <hook type="after_plugin_install" src="scripts/androidAfterInstall.js" />
    </platform>

    <platform name="ios">
      <!--config.xml-->
        <config-file target="config.xml" parent="/*">
            <feature name="TWICCordovaPlugin">
                <param name="ios-package" value="TWICCordovaPlugin" />
            </feature>
        </config-file>
        <!--info.plist-->
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>Studnet needs access to the microphone to stream your audio</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
          <string>Studnet needs access to the camera to stream your video</string>
        </config-file>
        <!--source and header files-->
        <header-file src="src/ios/TWICCordovaPlugin.h" />
        <source-file src="src/ios/TWICCordovaPlugin.m" />
        <header-file src="src/ios/StreamViewController.h" />
        <source-file src="src/ios/StreamViewController.m" />
        <header-file src="src/ios/TWICFirebaseClient.h" />
        <source-file src="src/ios/TWICFirebaseClient.m" />
        <header-file src="src/ios/TWICSocketIO.h" />
        <source-file src="src/ios/TWICSocketIO.m" />
        <!--resources files-->
        <resource-file src="src/ios/StreamViewController.xib" />
        <!-- Cocoapods -->
        <pods-config ios-min-version="9.0" use-frameworks="true"/>
        <pod id="Firebase/Database" version="~> 3.1" />
        <pod id="SVProgressHUD" />
        <pod id="OpenTok" version="~> 2.10"/>
        <pod id="GONMacros" />
        <pod id="GONCategories" />
        <pod id="GONMarkupParser" />
        <pod id="NSString+Color" />
        <pod id="Socket.IO-Client-Swift" version="~> 8.3.0" />
    </platform>
</plugin>
